
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="main" class="site-main">
        <div class="block-slides slide-border slide-fixtop">
            <div class="owl-carousel dotsData" data-nav="false" data-dots="true" data-margin="0"
                 data-items='1' data-autoplayTimeout="700" data-autoplay="true" data-loop="true">
                <div class="item-slide item-slide1" data-dot="1">
                    <img alt="" src="images/slide/slide1.jpg">
                    <div class="figcaption">
                        <div class="box-table">
                            <div class="box-td">
                                <div class="box-des">
                                    <span class="text-medium">The Best Ecommerce Wordpress Theme</span>
                                    <h1 class="text-large">we are adella</h1>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-slide item-slide2" data-dot="2">
                    <img alt="" src="images/slide/slide2.jpg">
                    <div class="figcaption">
                        <div class="box-table">
                            <div class="box-td">
                                <div class="box-des">
                                    <span class="text-medium">Mid Season On Sale</span>
                                    <h1 class="text-large">real for men</h1>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-slide item-slide3" data-dot="3">
                    <img alt="" src="images/slide/slide3.jpg">
                    <div class="figcaption">
                        <div class="box-table">
                            <div class="box-td">
                                <div class="box-des">
                                    <span class="text-medium">Collection For Women</span>
                                    <h1 class="text-large">hot & trendy clothes</h1>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </p>
                                    <a href="#" class="btn btn-inline">shop now</a>
                                    <a href="#" class="btn btn-inline-sub">promotion</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- slide home1 -->


        <div class="block-banner style1 style-black">
            <div class="container">
                <div class="row animatedParent animateOnce">
                    <div class="col-md-3 col-sm-3 col-xs-6 animated fadeInLeft">
                        <div class="box-banner box-left">
                            <span>save up to 30%</span>
                            <a href="#"><img alt="" src="images/banner/banner1.jpg"></a>
                            <span class="title-tranfrom">the trendy 2016</span>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-6 col-sm-push-6 animated fadeInRight">
                        <div class="box-banner box-right">
                            <span>specail to day</span>
                            <a href="#"><img alt="" src="images/banner/banner2.jpg"></a>
                            <span class="title-tranfrom">collection’s men</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-sm-pull-3 col-xs-12 animated fadeInUpShort">
                        <div class="owl-carousel carousel-style2 style-white" data-nav="false" data-dots="true" data-margin="0" data-items='1' data-autoplayTimeout="700" data-autoplay="true" data-loop="true">
                            <div class="item item1">
                                <img alt="" src="images/banner/banner3-1.jpg">
                                <div class="content-text">
                                    <div class="box-content">
                                        <div>
                                            <div>
                                                <span class="text-large text-left">spring collection</span>
                                                <span class="text-large text-right">real for men</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item item2">
                                <img alt="" src="images/banner/banner3-2.jpg">
                                <div class="content-text">
                                    <div class="box-content">
                                        <div>
                                            <div>
                                                <span class="text-medium text-center">the biggest</span>
                                                <span class="text-large text-center">summer collection</span>
                                                <p class="text-center">Donec at mattis purus, ut accumsan nisl. Lorem ipsum dolor sit </p>
                                                <div class="action"><a href="#" class="btn btn-default">shop now</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item item3">
                                <img alt="" src="images/banner/banner3-3.jpg">
                                <div class="content-text">
                                    <div class="box-content">
                                        <div>
                                            <div>
                                                <span class="text-large text-left">real for women</span>
                                                <span class="text-large text-right">summer collection</span>
                                                <p class="text-center">Donec at mattis purus, ut accumsan nisl. Lorem ipsum dolor sit </p>
                                                <div class="action"><a href="#" class="btn btn-default">shop now</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- widget -  banner -->

        <div class="block-products products-grid container style1">
            <div class="block-title animatedParent animateOnce">
                <strong class="title animated fadeInLeft">featured products</strong>
                <p class="animated fadeInRight">Shop from over 99 of the best brands, including adella</p>
            </div>
            <div class="block-content carousel-products ">
                <ol class="product-items owl-carousel nav-center-center" data-nav="true" data-dots="false" data-margin="30" data-responsive='{"0":{"items":1},"480":{"items":2},"600":{"items":3},"992":{"items":4}}'>
                    <li class="product-item">
                        <div class="product-item-info">
                            <div class="product-item-head">
                                <a href="#" class="product-item-photo">
                                    <img alt="The Name Product Demo" src="images/media/product1.jpg" class="product-image-photo">
                                    <span class="product-item-label label-new">new</span>
                                    <span class="product-item-label label-sale">sale</span>
                                </a>
                                <a href="#" data-toggle="modal" data-target="#box-quick-view" class="action quick-view"><span class="pe-7s-search"></span></a>
                            </div>
                            <div class="product-item-details">
                                <a href="#" class="product-item-category">Men' clothing </a>
                                <strong class="product-item-name">
                                    <a href="#" class="product-item-link">The Name Product Demo </a>
                                </strong>

                                <div class="product-item-info-price">
                                    <div class="product-reviews-summary">
                                        <div class="rating-summary">
                                            <div class="rating-result" title="70%">
                                                <span style="width:70%">
                                                    <span><span>70</span>% of <span>100</span></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="price-box">
                                        <span class="price-from">
                                            <span class="price">$61.00</span>
                                        </span>
                                        <span class="price-to">
                                            <span class="price">$77.00</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="product-item-actions">
                                    <div class="actions-primary">
                                        <button class="btn btn-default" title="Add to Cart" type="submit">
                                            <span>Add to Cart</span>
                                        </button>
                                    </div>
                                    <div class="actions-secondary">
                                        <button class="action tocart" title="Add to Cart" type="submit">
                                            <span>Add to Cart</span>
                                        </button>
                                        <a title="Wish List" class="action towishlist" href="#">
                                            <span>Wish List</span>
                                        </a>
                                        <a title="Compare" class="action tocompare" href="#">
                                            <span>Compare</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item">
                        <div class="product-item-info">
                            <div class="product-item-head">
                                <a href="#" class="product-item-photo">
                                    <img alt="The Name Product Demo" src="images/media/product2.jpg" class="product-image-photo">
                                    <span class="product-item-label label-new">new</span>
                                </a>
                                <a href="#" data-toggle="modal" data-target="#box-quick-view class="action quick-view"><span class="pe-7s-search"></span></a>
                            </div>
                            <div class="product-item-details">
                                <a href="#" class="product-item-category">Men' clothing </a>
                                <strong class="product-item-name">
                                    <a href="#" class="product-item-link">The Name Product Demo </a>
                                </strong>
                                <div class="product-item-info-price">
                                    <div class="product-reviews-summary">
                                        <div class="rating-summary">
                                            <div class="rating-result" title="70%">
                                                <span style="width:70%">
                                                    <span><span>70</span>% of <span>100</span></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="price-box">
                                        <span class="price-from">
                                            <span class="price">$61.00</span>
                                        </span>
                                        <span class="price-to">
                                            <span class="price">$77.00</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="product-item-actions">
                                    <div class="actions-primary">
                                        <button class="btn btn-default" title="Add to Cart" type="submit">
                                            <span>select option</span>
                                        </button>
                                    </div>
                                    <div class="actions-secondary">
                                        <button class="action tocart" title="Add to Cart" type="submit">
                                            <span>Add to Cart</span>
                                        </button>
                                        <a title="Wish List" class="action towishlist" href="#">
                                            <span>Wish List</span>
                                        </a>
                                        <a title="Compare" class="action tocompare" href="#">
                                            <span>Compare</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item">
                        <div class="product-item-info">
                            <div class="product-item-head">
                                <a href="#" class="product-item-photo">
                                    <img alt="The Name Product Demo" src="images/media/product3.jpg" class="product-image-photo">
                                    <span class="product-item-label label-new">new</span>
                                </a>
                                <a href="#" class="action quick-view"><span class="pe-7s-search"></span></a>
                            </div>
                            <div class="product-item-details">
                                <a href="#" class="product-item-category">Men' clothing </a>
                                <strong class="product-item-name">
                                    <a href="#" data-toggle="modal" data-target="#box-quick-view class="product-item-link">The Name Product Demo </a>
                                </strong>
                                <div class="product-item-info-price">
                                    <div class="product-reviews-summary">
                                        <div class="rating-summary">
                                            <div class="rating-result" title="70%">
                                                <span style="width:70%">
                                                    <span><span>70</span>% of <span>100</span></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="price-box">
                                        <span class="price">$61.00</span>
                                    </div>
                                </div>
                                <div class="product-item-actions">
                                    <div class="actions-primary">
                                        <button class="btn btn-default" title="Add to Cart" type="submit">
                                            <span>select option</span>
                                        </button>
                                    </div>
                                    <div class="actions-secondary">
                                        <button class="action tocart" title="Add to Cart" type="submit">
                                            <span>Add to Cart</span>
                                        </button>
                                        <a title="Wish List" class="action towishlist" href="#">
                                            <span>Wish List</span>
                                        </a>
                                        <a title="Compare" class="action tocompare" href="#">
                                            <span>Compare</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item">
                        <div class="product-item-info">
                            <div class="product-item-head">
                                <a href="#" class="product-item-photo">
                                    <img alt="The Name Product Demo" src="images/media/product2.jpg" class="product-image-photo">
                                    <span class="product-item-label label-new">new</span>
                                </a>
                                <a href="#" data-toggle="modal" data-target="#box-quick-view class="action quick-view"><span class="pe-7s-search"></span></a>
                            </div>
                            <div class="product-item-details">
                                <a href="#" class="product-item-category">Men' clothing </a>
                                <strong class="product-item-name">
                                    <a href="#" class="product-item-link">The Name Product Demo </a>
                                </strong>
                                <div class="product-item-info-price">
                                    <div class="product-reviews-summary">
                                        <div class="rating-summary">
                                            <div class="rating-result" title="70%">
                                                <span style="width:70%">
                                                    <span><span>70</span>% of <span>100</span></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="price-box">
                                        <span class="old-price">
                                            <span class="price">$20.00</span>
                                        </span>
                                        <span class="special-price">
                                            <span class="price">$15.00</span>
                                        </span>

                                    </div>
                                </div>
                                <div class="product-item-actions">
                                    <div class="actions-primary">
                                        <button class="btn btn-default" title="Add to Cart" type="submit">
                                            <span>select option</span>
                                        </button>
                                    </div>
                                    <div class="actions-secondary">
                                        <button class="action tocart" title="Add to Cart" type="submit">
                                            <span>Add to Cart</span>
                                        </button>
                                        <a title="Wish List" class="action towishlist" href="#">
                                            <span>Wish List</span>
                                        </a>
                                        <a title="Compare" class="action tocompare" href="#">
                                            <span>Compare</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item">
                        <div class="product-item-info">
                            <div class="product-item-head">
                                <a href="#" class="product-item-photo">
                                    <img alt="The Name Product Demo" src="images/media/product2.jpg" class="product-image-photo">
                                    <span class="product-item-label label-new">new</span>
                                </a>
                                <a href="#" data-toggle="modal" data-target="#box-quick-view class="action quick-view"><span class="pe-7s-search"></span></a>
                            </div>
                            <div class="product-item-details">
                                <a href="#" class="product-item-category">Men' clothing </a>
                                <strong class="product-item-name">
                                    <a href="#" class="product-item-link">The Name Product Demo </a>
                                </strong>
                                <div class="product-item-info-price">
                                    <div class="product-reviews-summary">
                                        <div class="rating-summary">
                                            <div class="rating-result" title="70%">
                                                <span style="width:70%">
                                                    <span><span>70</span>% of <span>100</span></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="price-box">
                                        <span class="old-price">
                                            <span class="price">$20.00</span>
                                        </span>
                                        <span class="special-price">
                                            <span class="price">$15.00</span>
                                        </span>

                                    </div>
                                </div>
                                <div class="product-item-actions">
                                    <div class="actions-primary">
                                        <button class="btn btn-default" title="Add to Cart" type="submit">
                                            <span>select option</span>
                                        </button>
                                    </div>
                                    <div class="actions-secondary">
                                        <button class="action tocart" title="Add to Cart" type="submit">
                                            <span>Add to Cart</span>
                                        </button>
                                        <a title="Wish List" class="action towishlist" href="#">
                                            <span>Wish List</span>
                                        </a>
                                        <a title="Compare" class="action tocompare" href="#">
                                            <span>Compare</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
        </div><!-- widget -  featured -  products -->

        <div class="block-new-trend animatedParent animateOnce">
            <div class="container animated fadeInUpShort">
                <div class="carousel-style3 owl-carousel" data-dots="true" data-items='1' data-autoplayTimeout="700" data-autoplay="true" data-loop="true">
                    <div class="item item1" style="background-image: url(images/banner/banner4-4.jpg);">

                        <div class="content-text">
                            <span class="text-medium">New Trend 2016</span>
                            <span class="text-large">look book</span>
                            <div class="action"><a href="#" class="btn btn-inline">shop now</a></div>
                        </div>
                    </div>
                    <div class="item item2" style="background-image: url(images/banner/banner4-5.jpg);">

                        <div class="content-text">
                            <span class="text-medium">New Trend 2016</span>
                            <span class="text-large">look book</span>
                            <div class="action"><a href="#" class="btn btn-inline">shop now</a></div>
                        </div>
                    </div>
                    <div class="item item3" style="background-image: url(images/banner/banner4-6.jpg);">
                        <div class="content-text">
                            <span class="text-medium">New Trend 2016</span>
                            <span class="text-large">look book</span>
                            <div class="action"><a href="#" class="btn btn-inline">shop now</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- widget -  new -  trend -->

        <div class="block-products products-grid container style1">
            <div class="block-title animatedParent animateOnce">
                <strong class="title animated fadeInRight">new products</strong>
                <p class="animated  fadeInLeft">Shop from over 99 of the best brands, including adella</p>
            </div>
            <div class="block-content carousel-products ">
                <ol class="product-items owl-carousel nav-center-center" data-nav="true" data-dots="false" data-margin="30" data-responsive='{"0":{"items":1},"480":{"items":2},"600":{"items":3},"992":{"items":4}}'>
                    <li class="product-item">
                        <div class="product-item-info">
                            <div class="product-item-head">
                                <a href="#" class="product-item-photo">
                                    <img alt="The Name Product Demo" src="images/media/product1.jpg" class="product-image-photo">
                                    <span class="product-item-label label-new">new</span>
                                    <span class="product-item-label label-sale">sale</span>
                                </a>
                                <a href="#" data-toggle="modal" data-target="#box-quick-view" class="action quick-view"><span class="pe-7s-search"></span></a>
                            </div>
                            <div class="product-item-details">
                                <a href="#" class="product-item-category">Men' clothing </a>
                                <strong class="product-item-name">
                                    <a href="#" class="product-item-link">The Name Product Demo </a>
                                </strong>

                                <div class="product-item-info-price">
                                    <div class="product-reviews-summary">
                                        <div class="rating-summary">
                                            <div class="rating-result" title="70%">
                                                <span style="width:70%">
                                                    <span><span>70</span>% of <span>100</span></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="price-box">
                                        <span class="price-from">
                                            <span class="price">$61.00</span>
                                        </span>
                                        <span class="price-to">
                                            <span class="price">$77.00</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="product-item-actions">
                                    <div class="actions-primary">
                                        <button class="btn btn-default" title="Add to Cart" type="submit">
                                            <span>Add to Cart</span>
                                        </button>
                                    </div>
                                    <div class="actions-secondary">
                                        <button class="action tocart" title="Add to Cart" type="submit">
                                            <span>Add to Cart</span>
                                        </button>
                                        <a title="Wish List" class="action towishlist" href="#">
                                            <span>Wish List</span>
                                        </a>
                                        <a title="Compare" class="action tocompare" href="#">
                                            <span>Compare</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item">
                        <div class="product-item-info">
                            <div class="product-item-head">
                                <a href="#" class="product-item-photo">
                                    <img alt="The Name Product Demo" src="images/media/product2.jpg" class="product-image-photo">
                                    <span class="product-item-label label-new">new</span>
                                </a>
                                <a href="#" data-toggle="modal" data-target="#box-quick-view class="action quick-view"><span class="pe-7s-search"></span></a>
                            </div>
                            <div class="product-item-details">
                                <a href="#" class="product-item-category">Men' clothing </a>
                                <strong class="product-item-name">
                                    <a href="#" class="product-item-link">The Name Product Demo </a>
                                </strong>
                                <div class="product-item-info-price">
                                    <div class="product-reviews-summary">
                                        <div class="rating-summary">
                                            <div class="rating-result" title="70%">
                                                <span style="width:70%">
                                                    <span><span>70</span>% of <span>100</span></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="price-box">
                                        <span class="price-from">
                                            <span class="price">$61.00</span>
                                        </span>
                                        <span class="price-to">
                                            <span class="price">$77.00</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="product-item-actions">
                                    <div class="actions-primary">
                                        <button class="btn btn-default" title="Add to Cart" type="submit">
                                            <span>select option</span>
                                        </button>
                                    </div>
                                    <div class="actions-secondary">
                                        <button class="action tocart" title="Add to Cart" type="submit">
                                            <span>Add to Cart</span>
                                        </button>
                                        <a title="Wish List" class="action towishlist" href="#">
                                            <span>Wish List</span>
                                        </a>
                                        <a title="Compare" class="action tocompare" href="#">
                                            <span>Compare</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item">
                        <div class="product-item-info">
                            <div class="product-item-head">
                                <a href="#" class="product-item-photo">
                                    <img alt="The Name Product Demo" src="images/media/product3.jpg" class="product-image-photo">
                                    <span class="product-item-label label-new">new</span>
                                </a>
                                <a href="#" data-toggle="modal" data-target="#box-quick-view class="action quick-view"><span class="pe-7s-search"></span></a>
                            </div>
                            <div class="product-item-details">
                                <a href="#" class="product-item-category">Men' clothing </a>
                                <strong class="product-item-name">
                                    <a href="#" class="product-item-link">The Name Product Demo </a>
                                </strong>
                                <div class="product-item-info-price">
                                    <div class="product-reviews-summary">
                                        <div class="rating-summary">
                                            <div class="rating-result" title="70%">
                                                <span style="width:70%">
                                                    <span><span>70</span>% of <span>100</span></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="price-box">
                                        <span class="price">$61.00</span>
                                    </div>
                                </div>
                                <div class="product-item-actions">
                                    <div class="actions-primary">
                                        <button class="btn btn-default" title="Add to Cart" type="submit">
                                            <span>select option</span>
                                        </button>
                                    </div>
                                    <div class="actions-secondary">
                                        <button class="action tocart" title="Add to Cart" type="submit">
                                            <span>Add to Cart</span>
                                        </button>
                                        <a title="Wish List" class="action towishlist" href="#">
                                            <span>Wish List</span>
                                        </a>
                                        <a title="Compare" class="action tocompare" href="#">
                                            <span>Compare</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item">
                        <div class="product-item-info">
                            <div class="product-item-head">
                                <a href="#" class="product-item-photo">
                                    <img alt="The Name Product Demo" src="images/media/product2.jpg" class="product-image-photo">
                                    <span class="product-item-label label-new">new</span>
                                </a>
                                <a href="#" data-toggle="modal" data-target="#box-quick-view class="action quick-view"><span class="pe-7s-search"></span></a>
                            </div>
                            <div class="product-item-details">
                                <a href="#" class="product-item-category">Men' clothing </a>
                                <strong class="product-item-name">
                                    <a href="#" class="product-item-link">The Name Product Demo </a>
                                </strong>
                                <div class="product-item-info-price">
                                    <div class="product-reviews-summary">
                                        <div class="rating-summary">
                                            <div class="rating-result" title="70%">
                                                <span style="width:70%">
                                                    <span><span>70</span>% of <span>100</span></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="price-box">
                                        <span class="old-price">
                                            <span class="price">$20.00</span>
                                        </span>
                                        <span class="special-price">
                                            <span class="price">$15.00</span>
                                        </span>

                                    </div>
                                </div>
                                <div class="product-item-actions">
                                    <div class="actions-primary">
                                        <button class="btn btn-default" title="Add to Cart" type="submit">
                                            <span>select option</span>
                                        </button>
                                    </div>
                                    <div class="actions-secondary">
                                        <button class="action tocart" title="Add to Cart" type="submit">
                                            <span>Add to Cart</span>
                                        </button>
                                        <a title="Wish List" class="action towishlist" href="#">
                                            <span>Wish List</span>
                                        </a>
                                        <a title="Compare" class="action tocompare" href="#">
                                            <span>Compare</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item">
                        <div class="product-item-info">
                            <div class="product-item-head">
                                <a href="#" class="product-item-photo">
                                    <img alt="The Name Product Demo" src="images/media/product2.jpg" class="product-image-photo">
                                    <span class="product-item-label label-new">new</span>
                                </a>
                                <a href="#" data-toggle="modal" data-target="#box-quick-view class="action quick-view"><span class="pe-7s-search"></span></a>
                            </div>
                            <div class="product-item-details">
                                <a href="#" class="product-item-category">Men' clothing </a>
                                <strong class="product-item-name">
                                    <a href="#" class="product-item-link">The Name Product Demo </a>
                                </strong>
                                <div class="product-item-info-price">
                                    <div class="product-reviews-summary">
                                        <div class="rating-summary">
                                            <div class="rating-result" title="70%">
                                                <span style="width:70%">
                                                    <span><span>70</span>% of <span>100</span></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="price-box">
                                        <span class="old-price">
                                            <span class="price">$20.00</span>
                                        </span>
                                        <span class="special-price">
                                            <span class="price">$15.00</span>
                                        </span>

                                    </div>
                                </div>
                                <div class="product-item-actions">
                                    <div class="actions-primary">
                                        <button class="btn btn-default" title="Add to Cart" type="submit">
                                            <span>select option</span>
                                        </button>
                                    </div>
                                    <div class="actions-secondary">
                                        <button class="action tocart" title="Add to Cart" type="submit">
                                            <span>Add to Cart</span>
                                        </button>
                                        <a title="Wish List" class="action towishlist" href="#">
                                            <span>Wish List</span>
                                        </a>
                                        <a title="Compare" class="action tocompare" href="#">
                                            <span>Compare</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
        </div><!-- widget -  new -  products -->

        <div class="block-posts style1 style-black">
            <div class="container">
                <div class="block-title animatedParent animateOnce">
                    <strong class="animated fadeInRight">the blogs</strong>
                    <p class="animated  fadeInLeft">visit the latest blogs from adella</p>
                </div>
                <div class="block-content carousel-posts">
                    <ol class="post-items owl-carousel nav-center-center" data-nav="true" data-dots="false" data-margin="30" data-responsive='{"0":{"items":1},"600":{"items":2}}'>
                        <li class="post-item">
                            <div class="post-item-info">
                                <a href="#" class="post-item-photo">
                                    <img alt="Lorem Ipsum Dolor Sit Amet  Consectetur" src="images/media/post1.jpg" class="post-image-photo">
                                </a>

                                <div class="post-item-details">
                                    <span class="post-item-date"><span class="date">20</span>/March</span>
                                    <strong class="post-item-name">
                                        <a href="#" class="post-item-link">Lorem Ipsum Dolor Sit Amet  Consectetur</a>
                                    </strong>
                                    <a title="view more" class="action viewmore" href="#">
                                        <span>view more</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="post-item">
                            <div class="post-item-info">
                                <a href="#" class="post-item-photo">
                                    <img alt="Lorem Ipsum Dolor Sit Amet  Consectetur" src="images/media/post2.jpg" class="post-image-photo">
                                </a>

                                <div class="post-item-details">
                                    <span class="post-item-date"><span class="date">20</span>/March</span>
                                    <strong class="post-item-name">
                                        <a href="#" class="post-item-link">Lorem Ipsum Dolor Sit Amet  Consectetur</a>
                                    </strong>
                                    <a title="view more" class="action viewmore" href="#">
                                        <span>view more</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="post-item">
                            <div class="post-item-info">
                                <a href="#" class="post-item-photo">
                                    <img alt="Lorem Ipsum Dolor Sit Amet  Consectetur" src="images/media/post2.jpg" class="post-image-photo">
                                </a>

                                <div class="post-item-details">
                                    <span class="post-item-date"><span class="date">20</span>/March</span>
                                    <strong class="post-item-name">
                                        <a href="#" class="post-item-link">Lorem Ipsum Dolor Sit Amet  Consectetur</a>
                                    </strong>
                                    <a title="view more" class="action viewmore" href="#">
                                        <span>view more</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div><!-- widget  -  blog -->

    </div>

