/* --------------------------

	Header

--------------------------- */
@media (max-width: 1800px) {
  .home-page13 .logo {
    float: none !important;
    max-width: 100% !important;
    margin-bottom: 10px;
  }
  .home-page13 .site-header.style4 .logo {
    margin-bottom: 10px;
  }
  .home-page13 .header-content {
    visibility: hidden;
    opacity: 0;
    left: -100%;
    overflow-y: auto;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .home-page13 .header-content.has-open {
    display: block;
    visibility: visible;
    opacity: 1;
    left: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .home-page13 .header-content .social {
    position: static;
    margin-top: 30px;
  }
  .home-page13 .site-header .header-top .action.nav-toggle {
    display: block;
    float: left;
    position: static;
    line-height: 45px;
  }
  .home-page13 .site-header.style4 .header-nav {
    position: static !important;
    visibility: visible;
    opacity: 1;
    display: block;
    box-shadow: none;
  }
  .home-page13 .site-header.style4 .navigation {
    position: static !important;
    visibility: visible;
    opacity: 1;
    display: block;
    box-shadow: none;
    /*.ui-menu {
					> li {
						text-align: left;
						.submenu {
							position: static;
							visibility: visible;
							opacity: 1;
							margin: 0 !important;
							box-shadow: none;
							.translate(0px, 0px);
						}
						> a {
							line-height: 50px;
							padding-left: 15px;
							padding-right: 37px;
							&:before {
								content: none;
							}
						}
						a {
							display: inline-block;
							&:hover {
								background-color: transparent;
								color: @color-theme;
							}
						}
						.toggle-submenu {
							display: block;
						}
					}
					li {
						&:hover {
							> a {
								background-color: transparent;
								color: @color-theme;
							}
						}
					}
					
					
				}*/
  }
  .home-page13 .site-header.style4 .navigation .ui-menu > li {
    display: block;
    float: none;
    height: auto;
    padding-top: 0;
    text-align: left;
    margin: 0 !important;
  }
  .home-page13 .site-header.style4 .navigation .ui-menu > li .submenu {
    position: static !important;
    opacity: 1 !important;
    visibility: visible !important;
    display: none;
    -webkit-transform: translate(0, 0) !important;
    -ms-transform: translate(0, 0) !important;
    -o-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;
    box-shadow: none;
    width: 100%;
    padding-left: 20px;
  }
  .home-page13 .site-header.style4 .navigation .ui-menu > li .submenu a {
    display: block;
  }
  .home-page13 .site-header.style4 .navigation .ui-menu > li.parent:after {
    content: none;
  }
  .home-page13 .site-header.style4 .navigation .ui-menu > li:last-child {
    margin-right: 0px !important;
  }
  .home-page13 .site-header.style4 .navigation .ui-menu > li > a {
    line-height: 40px;
  }
  .home-page13 .site-header.style4 .navigation .ui-menu > li > a:before {
    content: none !important;
  }
  .home-page13 .site-header.style4 .navigation .ui-menu > li a {
    margin-right: 10px;
    display: block;
  }
  .home-page13 .site-header.style4 .navigation .ui-menu > li a:hover,
  .home-page13 .site-header.style4 .navigation .ui-menu > li a:focus {
    background-color: transparent !important;
    color: #5d957b;
  }
  .home-page13 .site-header.style4 .navigation .ui-menu > li a:after {
    content: none !important;
  }
  .home-page13 .site-header.style4 .navigation .ui-menu > li.megamenu > .submenu {
    width: 100%;
  }
  .home-page13 .site-header.style4 .navigation .ui-menu > li.megamenu > .submenu > li {
    float: none;
    width: 100%;
  }
  .home-page13 .site-header.style4 .navigation .ui-menu .has-active > a {
    color: #5d957b;
  }
  .home-page13 .site-header.style4 .navigation .ui-menu .has-active > .submenu {
    display: block;
  }
  .home-page13 .site-header.style4 .navigation .ui-menu .has-active > .toggle-submenu {
    color: #5d957b;
  }
  .home-page13 .site-header.style4 .navigation .ui-menu .has-active > .toggle-submenu:before {
    content: "\f106";
  }
  .home-page13 .site-header.style4 .navigation .ui-menu li {
    position: relative !important;
  }
  .home-page13 .site-header.style4 .navigation .ui-menu li:hover > a,
  .home-page13 .site-header.style4 .navigation .ui-menu li:focus > a {
    background-color: transparent !important;
    color: #5d957b;
  }
  .home-page13 .site-header.style4 .navigation .ui-menu li.active {
    border-top: none;
  }
  .home-page13 .site-header.style4 .navigation .ui-menu .toggle-submenu {
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 20px;
    display: block;
    width: 30px;
    text-align: center;
    cursor: pointer;
  }
  .home-page13 .site-header.style4 .navigation .ui-menu .toggle-submenu:before {
    content: "\f105";
    font-family: "FontAwesome";
  }
  .home-page13 .header-top .action.nav-toggle {
    font-size: 25px;
    display: block;
    float: left;
    line-height: 43px;
    margin: 0;
    margin-right: 12px;
  }
  .home-page13 .header-top .action.nav-toggle:before {
    left: auto;
    right: 0;
  }
  .home-page13 .header-top .action.nav-toggle:hover,
  .home-page13 .header-top .action.nav-toggle:focus {
    color: #5d957b;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .navigation .ui-menu .megamenu > .submenu {
    width: auto;
    left: 80px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .block-slides .dotsData .owl-dots .owl-dot {
    line-height: 23px;
    width: 23px;
  }
}
@media (max-width: 991px) {
  .site-header .header-content .action.nav-toggle {
    display: block;
  }
  body.menu-open {
    overflow: hidden;
    right: 0;
  }
  .navigation {
    clear: both;
    float: none;
    display: block;
    position: fixed !important;
    left: -100% !important;
    width: 80%;
    top: 0;
    bottom: 0;
    z-index: 9999;
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 0px;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    right: auto !important;
  }
  .navigation.has-open {
    visibility: visible;
    opacity: 1;
    left: 0 !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .navigation .ui-menu li .label-menu {
    left: 100%;
    top: 0;
  }
  .navigation .ui-menu {
    margin-bottom: 20px;
  }
  .navigation .ui-menu > li {
    display: block;
    float: none;
    height: auto;
    padding-top: 0;
  }
  .navigation .ui-menu > li .submenu {
    position: static !important;
    opacity: 1 !important;
    visibility: visible !important;
    display: none !important;
    -webkit-transform: translate(0, 0) !important;
    -ms-transform: translate(0, 0) !important;
    -o-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;
    box-shadow: none;
    width: 100%;
    padding-left: 20px;
  }
  .navigation .ui-menu > li .submenu a {
    display: inline-block;
  }
  .navigation .ui-menu > li:last-child {
    margin-right: 22px !important;
  }
  .navigation .ui-menu > li > a {
    line-height: 40px;
  }
  .navigation .ui-menu > li > a:before {
    content: none !important;
  }
  .navigation .ui-menu > li a {
    margin-right: 10px;
    display: inline-block;
  }
  .navigation .ui-menu > li a:hover,
  .navigation .ui-menu > li a:focus {
    background-color: transparent !important;
    color: #5d957b;
  }
  .navigation .ui-menu > li a:after {
    content: none !important;
  }
  .navigation .ui-menu > li.megamenu > .submenu {
    width: 100%;
  }
  .navigation .ui-menu > li.megamenu > .submenu > li {
    float: none;
    width: 100%;
  }
  .navigation .ui-menu .has-active > a {
    color: #5d957b;
  }
  .navigation .ui-menu .has-active > .submenu {
    display: block !important;
  }
  .navigation .ui-menu .has-active > .toggle-submenu {
    color: #5d957b;
  }
  .navigation .ui-menu .has-active > .toggle-submenu:before {
    content: "\f106";
  }
  .navigation .ui-menu li {
    position: relative !important;
  }
  .navigation .ui-menu li:hover > a,
  .navigation .ui-menu li:focus > a {
    background-color: transparent !important;
    color: #5d957b;
  }
  .navigation .ui-menu li.active {
    border-top: none;
  }
  .navigation .ui-menu .megamenu > .submenu > li {
    padding-left: 0;
    padding-right: 0;
  }
  .navigation .ui-menu .toggle-submenu {
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 20px;
    display: block;
    width: 30px;
    text-align: center;
    cursor: pointer;
  }
  .navigation .ui-menu .toggle-submenu:before {
    content: "\f105";
    font-family: "FontAwesome";
  }
  .fix-page .navigation {
    position: fixed;
    top: 100px;
    max-height: calc(100% -  100px);
    max-height: -moz-calc(100% -  100px);
    max-height: -webkit-calc(100% -  100px);
    max-height: -o-calc(100% -  100px);
    overflow-y: auto;
    z-index: 9999;
  }
  .site-header.style2 .header-content .logo {
    padding-top: 15px;
    margin-bottom: 15px;
  }
  .site-header.style2 .action.nav-toggle {
    margin-top: 7px;
  }
  /*home8*/
  .site-header.style4 .header-content {
    margin-bottom: 10px;
  }
  .site-header.style4 .action.nav-toggle {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 30px;
    right: 160px;
  }
  .site-header.style4 .action.nav-toggle:before {
    right: 0;
    left: auto;
  }
  .site-header.style4 .header-nav .navigation {
    left: 0;
    right: 0;
  }
  .site-header.style4 .header-nav .navigation .ui-menu {
    text-align: left;
  }
  .site-header.style4 .header-nav .navigation .ui-menu > li {
    display: block;
  }
  .home-page11 .site-header .hotline {
    display: none;
  }
  .site-header.style2 .header-content .logo {
    float: left;
  }
  .site-header.style2 .header-nav .navigation {
    left: 0;
    right: 0;
  }
  .site-header.style2 .header-nav .navigation .ui-menu {
    text-align: left;
  }
  .site-header.style2 .header-nav .navigation .ui-menu > li {
    display: block;
  }
  .home-page10 .site-header.style4 .header-content,
  .home-page12 .site-header.style4 .header-content {
    padding-bottom: 70px;
    padding-top: 20px;
  }
  .home-page10 .site-header.style4 .header-content .action.nav-toggle,
  .home-page12 .site-header.style4 .header-content .action.nav-toggle {
    float: right;
    position: static;
    line-height: 38px;
    width: 38px;
    text-align: center;
    background-color: #5d957b;
    border-radius: 100%;
    color: #fff;
    margin-left: 24px;
  }
  .home-page10 .site-header.style4 .header-content .action.nav-toggle:before,
  .home-page12 .site-header.style4 .header-content .action.nav-toggle:before {
    right: 68px;
  }
  .home-page10 .site-header.style4 .block-searh-filter,
  .home-page12 .site-header.style4 .block-searh-filter {
    bottom: -55px;
    top: auto;
    left: 15px;
    right: 15px;
    margin-left: 0;
    max-width: 100%;
    width: auto;
  }
  .home-page10 .header-nav .social,
  .home-page12 .header-nav .social {
    display: none;
  }
  .home-page10 .header-nav .navigation,
  .home-page12 .header-nav .navigation {
    float: none;
  }
  .home-page10 .header-nav .navigation .ui-menu > li > a,
  .home-page12 .header-nav .navigation .ui-menu > li > a {
    line-height: 35px;
  }
  .home-page10 .header-nav .navigation .ui-menu > li a,
  .home-page12 .header-nav .navigation .ui-menu > li a {
    display: inline-block;
  }
  /*home sidebar*/
  .colums .col-sidebar {
    display: none;
  }
}
@media (max-width: 767px) {
  .block-search .minisearch {
    padding-right: 15px;
  }
  /*home8*/
  .site-header.style4 .header-content {
    padding-top: 20px;
    padding-bottom: 35px;
  }
  .site-header.style4 .logo {
    float: left;
  }
  .site-header.style4 .block-search {
    top: auto;
    bottom: -35px;
    width: auto;
    right: 15px;
  }
  .site-header.style4 .block-search .input-search {
    width: 100%;
    max-width: 100%;
  }
  .home-page13 .header-top .header-link a {
    padding: 0 7px;
  }
  .home-page13 .header-top .header-link .dropdown-menu {
    position: absolute;
    background-color: #fff;
    border-radius: 0;
    display: none;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.09);
    width: 200px;
    left: 0 !important;
    right: auto;
  }
  .home-page13 .header-top .header-link .dropdown-menu li {
    display: block;
  }
  .home-page13 .header-top .header-link .dropdown-menu li a {
    color: inherit;
    padding-left: 15px;
  }
  .home-page13 .header-top .header-link .dropdown-menu li a:after {
    content: none;
  }
  .home-page13 .header-top .header-link .dropdown-toggle {
    display: block;
  }
  .home-page13 .header-top .header-link.open .dropdown-toggle {
    color: inherit;
  }
  .home-page13 .header-top .header-link.open .dropdown-menu {
    display: block;
  }
  .block-clients-say .owl-pagination,
  .block-clients-say .owl-dots {
    left: 0;
    top: -22px;
    margin-left: 0;
    right: 0;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .site-header.style1 .header-content .logo {
    z-index: 2;
  }
  .style1 .header-content {
    padding-left: 0;
    padding-right: 0;
  }
  .style1 .header-content .logo {
    padding-top: 10px;
    width: 90px;
    z-index: 3;
  }
  .site-header.style1 .header-content .logo {
    z-index: 3;
  }
  .style1 .header-content .block-search,
  .style1 .header-content .customer-setting,
  .style1 .header-content .minicart-wrapper {
    padding-top: 4px;
    height: 50px;
  }
  .style1 .header-content .action.nav-toggle {
    margin-top: 4px;
  }
  .style1.site-header {
    min-height: auto;
    height: 50px;
  }
  .block-search .minisearch {
    margin-left: 15px;
  }
  .block-search .input-search {
    margin-top: 0;
    height: 50px;
  }
  .block-search .close-search {
    margin-top: 10px;
  }
  .fix-page .customer-setting .dropdown-menu,
  .fix-page .minicart-wrapper .dropdown-menu {
    top: 50px;
    right: 15px;
    max-height: calc(100% -  50px);
    max-height: -moz-calc(100% -  50px);
    max-height: -webkit-calc(100% -  50px);
    max-height: -o-calc(100% -  50px);
  }
  .fix-page .navigation {
    top: 50px;
    right: 15px;
    left: 15px;
    max-height: calc(100% -  50px);
    max-height: -moz-calc(100% -  50px);
    max-height: -webkit-calc(100% -  50px);
    max-height: -o-calc(100% -  50px);
  }
  .site-header.style2 .header-top .minicart-wrapper .dropdown-menu,
  .site-header.style2 .header-top .customer-setting .dropdown-menu {
    top: 90px;
  }
  .header-top .header-link a {
    padding: 0 7px;
  }
  .header-top .header-link .dropdown-menu {
    position: absolute;
    background-color: #fff;
    border-radius: 0;
    display: none;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.09);
    width: 200px;
  }
  .header-top .header-link .dropdown-menu li {
    display: block;
  }
  .header-top .header-link .dropdown-menu li a {
    color: inherit;
    padding-left: 15px;
  }
  .header-top .header-link .dropdown-menu li a:after {
    content: none;
  }
  .header-top .header-link .dropdown-toggle {
    display: block;
  }
  .header-top .header-link.open .dropdown-toggle {
    color: inherit;
  }
  .header-top .header-link.open .dropdown-menu {
    display: block;
  }
  .home-page7 .site-header.style2 .header-top .minicart-wrapper .dropdown-menu,
  .home-page7 .site-header.style2 .header-top .customer-setting .dropdown-menu,
  .home-page11 .site-header.style2 .header-top .minicart-wrapper .dropdown-menu,
  .home-page11 .site-header.style2 .header-top .customer-setting .dropdown-menu {
    top: 45px;
  }
  .block-lookbook-text .title {
    letter-spacing: 5px;
  }
}
@media (max-width: 479px) {
  .customer-setting .dropdown-menu,
  .minicart-wrapper .dropdown-menu {
    right: 15px;
  }
  .navigation {
    right: 15px;
    left: 15px;
  }
  /*home 5*/
  .fix-page .home-page2 .site-header {
    background-color: transparent;
  }
  .site-header.style2 .header-top .block-search {
    position: static;
  }
  .site-header.style2 .header-top .block-search .dropdown-menu {
    top: 100%;
    height: 43px;
  }
  .site-header.style2 .header-top .block-search:hover .dropdown-menu {
    width: 100%;
  }
  .site-header.style4 .wishlist-link {
    display: none;
  }
  .site-header.style4 .action.nav-toggle {
    right: 105px;
  }
  .site-header.style4 .action.nav-toggle:before {
    content: none;
  }
  .site-header.style4 .logo {
    float: left;
    max-width: 130px;
  }
  .site-header.style4 .minicart-wrapper {
    position: static;
    float: right;
  }
  .site-header.style4 .minicart-wrapper .dropdown-menu {
    right: 15px;
    left: 15px;
    width: auto;
    max-width: 100%;
  }
  .home-page10 .logo,
  .home-page12 .logo {
    max-width: 114px !important;
  }
  .home-page10 .site-header.style4 .header-content .action.nav-toggle,
  .home-page12 .site-header.style4 .header-content .action.nav-toggle {
    margin-left: 10px;
  }
  .home-page10 .site-header.style4 .header-content .minicart-wrapper,
  .home-page12 .site-header.style4 .header-content .minicart-wrapper {
    margin-left: 0;
  }
  .home-page10 .site-header.style4 .header-content .minicart-wrapper .dropdown-toggle:before,
  .home-page12 .site-header.style4 .header-content .minicart-wrapper .dropdown-toggle:before {
    content: none;
  }
}
@media (max-width: 360px) {
  .customer-setting .dropdown-menu,
  .minicart-wrapper .dropdown-menu {
    max-width: 100%;
    left: 15px;
    right: 15px;
    width: auto;
  }
}
/* --------------------------

	Footer

--------------------------- */
@media (min-width: 768px) and (max-width: 992px) {
  .site-footer .contact li .icon {
    width: 33px;
  }
  .site-footer .contact li .icon > span {
    width: 33px;
    line-height: 33px;
    margin-right: 3px;
  }
  .site-footer.style2 .footer-top .block-newsletter .block-title {
    display: none;
  }
}
@media (max-width: 767px) {
  .style2.site-footer .footer-top {
    padding-top: 20px;
    text-align: center;
  }
  .style2.site-footer .footer-top .social,
  .style2.site-footer .footer-top .block-newsletter {
    text-align: center;
  }
  .style2.site-footer .footer-top .col {
    margin-bottom: 10px;
    display: block;
    float: none;
    vertical-align: top;
    width: 100%;
  }
  .style2.site-footer .footer-top .logo-footer {
    padding-left: 10px;
    margin-bottom: 20px;
    display: block;
  }
  .style2.site-footer .footer-content .col {
    margin-bottom: 15px;
  }
  .style2.site-footer .footer-content .col:nth-child(2n+1) {
    clear: both;
  }
  /*home 4*/
  .site-footer.style4 .footer-content .social {
    display: none;
  }
  .site-footer.style4 .footer-content .copyright {
    float: none;
    text-align: center;
  }
  /*home 3*/
  .site-footer.style3 .footer-content .links {
    width: 33%;
    margin-bottom: 20px;
  }
  .site-footer.style3 .footer-content .links:nth-child(3n+1) {
    clear: both;
  }
}
@media (max-width: 600px) {
  .site-footer.style4 .footer-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .site-footer.style4 .footer-content .copyright {
    margin-bottom: 0;
  }
}
@media (max-width: 479px) {
  /*home2*/
  .style2.site-footer .footer-top .col {
    width: 100%;
    float: none;
    display: block;
  }
  .style2.site-footer .footer-top .block-newsletter .block-title {
    margin-bottom: 10px;
  }
  .style2.site-footer .footer-content {
    padding-bottom: 15px;
    padding-top: 20px;
  }
  .style2.site-footer .footer-content .col {
    margin-bottom: 15px;
    width: 100%;
  }
  .style2.site-footer .footer-bottom .copyright {
    float: none;
    margin-bottom: 15px;
  }
  .style2.site-footer .footer-bottom .paypal-img {
    float: none;
    text-align: center;
  }
  /*home 3*/
  .site-footer.style3 .footer-content {
    padding: 20px 0;
  }
  .site-footer.style3 .footer-content .links {
    width: 100%;
    margin-bottom: 20px;
  }
  .site-footer.style3 .footer-bottom {
    text-align: center;
  }
  .site-footer.style3 .footer-bottom .copyright,
  .site-footer.style3 .footer-bottom .social {
    float: none;
  }
}
/* --------------------------

	Home

--------------------------- */
@media (max-width: 991px) {
  /*	Home page 1  */
  .block-slide .content-text .box-content h1 {
    font-size: 30px;
  }
  .block-slide .content-text .box-content > div > div {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .block-slide .content-text.content-style3 span {
    font-size: 24px;
  }
  .block-banner .box-banner {
    font-size: 12px;
    letter-spacing: 2px;
  }
  .block-banner .box-banner .title-tranfrom {
    letter-spacing: 6px;
  }
  .carousel-style2 .content-text .text-large {
    font-size: 20px;
  }
  .carousel-style2 .content-text .action {
    margin-top: 15px;
  }
  .block-clients-say {
    padding-bottom: 60px;
  }
  .block-clients-say:before {
    bottom: 0;
  }
  .block-slide .content-text.content-style4 {
    left: 80px;
  }
  .block-slide .content-text.content-style4 .btn {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .block-slide .owl-pagination {
    bottom: 15px;
  }
  .block-slide .content-text {
    left: 20px;
    right: 20px;
  }
  .block-slide .content-text .box-content {
    max-width: 100%;
    width: 100%;
  }
  .block-slide .content-text .box-content > div > div {
    padding: 10px;
  }
  .block-slide .content-text .box-content span {
    font-size: 20px;
  }
  .block-slide .content-text .box-content h1 {
    font-size: 30px;
  }
  .block-slide .content-text .box-content .btn {
    margin-top: 10px;
  }
  .block-slide .content-text.content-style3 {
    left: 15px;
  }
  .block-slide .item:before {
    right: 10px;
    left: 10px;
  }
  .block-banner .box-banner {
    padding-top: 0;
  }
  .block-banner .box-banner2 {
    margin-top: 0;
  }
  .block-clients-say .block-title {
    position: static;
    text-align: left;
  }
  .block-clients-say .owl-pagination {
    bottom: -30px;
    top: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0;
  }
  .block-clients-say .item .des {
    padding-top: 0;
  }
  /*home 2*/
  .block-slide .content-text.content-style4 span,
  .block-slide .content-text.content-style4 h1 {
    font-size: 20px;
    text-align: center;
  }
  .block-slide .content-text.content-style4 {
    left: 15px;
    text-align: center;
  }
  .block-slide .content-text.content-style4 .box-content {
    text-align: center;
  }
  /*home4*/
  .fix-page .block-slide .owl-pagination {
    bottom: 60px;
  }
  .block-4columns-text .col-xs-6:nth-child(2n+1) {
    clear: both;
  }
  .block-products-tab .box-search {
    float: none;
    clear: both;
  }
  .block-products-tab .products-grid .product-item {
    width: 33%;
  }
  .block-products-tab .products-grid .product-item:nth-child(4n+1) {
    clear: none;
  }
  .block-products-tab .products-grid .product-item:nth-child(3n+1) {
    clear: both;
  }
  .home-page8 .block-banner2 {
    margin-top: 20px;
  }
}
@media (max-width: 600px) {
  .block-slide {
    top: -50px;
    margin-bottom: -50px;
  }
  .block-slide .item:before {
    top: 50px;
    bottom: 40px;
    left: 8px;
    right: 8px;
  }
  .block-slide .content-text {
    top: 50px;
    bottom: 50px;
  }
  .block-slide .content-text .box-content {
    font-size: 13px;
  }
  .block-slide .content-text .box-content p {
    font-size: 13px;
  }
  .block-slide .content-text .box-content span {
    font-size: 16px;
  }
  .block-slide .content-text .box-content h1 {
    font-size: 20px;
  }
  .block-slide .content-text .box-content > div > div:before {
    margin-bottom: 10px;
  }
  .block-slide .content-text .box-content > div > div:after {
    margin-top: 10px;
  }
  .block-products.style1,
  .block-posts.style1 {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .block-products.style1 .block-title,
  .block-posts.style1 .block-title {
    margin-bottom: 15px;
  }
  .block-banner {
    padding: 20px 0 10px;
  }
  .block-products-tab .nav {
    clear: both;
  }
  .block-products-tab .box-search {
    float: left;
    clear: left;
  }
  .block-products-tab .filter {
    float: right;
    clear: both;
  }
  .block-products-tab .products-grid .product-item {
    width: 50%;
  }
  .block-products-tab .products-grid .product-item:nth-child(4n+1) {
    clear: none;
  }
  .block-products-tab .products-grid .product-item:nth-child(3n+1) {
    clear: none;
  }
  .block-products-tab .products-grid .product-item:nth-child(2n+1) {
    clear: both;
  }
  .carousel-style3 .content-text .text-large {
    font-size: 40px;
  }
  .carousel-style3 .content-text .text-medium {
    font-size: 18px;
  }
  .tab-carousel-product .block-title {
    margin-bottom: 60px;
    padding-right: 0;
  }
  .tab-carousel-product .block-title:after {
    content: none;
  }
  .tab-carousel-product .block-title .nav {
    display: block;
  }
  .tab-carousel-product .block-title .nav li {
    display: block;
    float: none;
    padding: 6px 12px;
    border-bottom: 1px dotted #ccc;
    padding-left: 0;
    margin-bottom: 0;
  }
  .tab-carousel-product .block-title .nav li.active {
    padding-left: 0;
  }
  .tab-carousel-product .block-title .nav li:before {
    content: none;
  }
  .tab-carousel-product .block-title .nav li a {
    display: inline-block;
  }
  .home-page11 .block-searh-filter .box-search {
    top: 10px;
    margin-bottom: 0;
    padding: 0;
    margin-bottom: 20px;
  }
  .home-page11 .block-searh-filter .option-search {
    width: 50px;
  }
  .home-page11 .block-searh-filter .option-search .dropdown-toggle .text,
  .home-page11 .block-searh-filter .option-search .dropdown-toggle .caret {
    display: none;
  }
}
@media (max-width: 479px) {
  .block-slide {
    top: 0;
    margin-bottom: 0;
  }
  .block-slide .item:before {
    top: 20px;
    bottom: 35px;
    left: 8px;
    right: 8px;
  }
  .block-slide .content-text .box-content {
    font-size: 10px;
  }
  .block-slide .content-text .box-content p {
    font-size: 10px;
    line-height: 1.1;
  }
  .block-slide .content-text .box-content span {
    font-size: 12px;
  }
  .block-slide .content-text .box-content h1 {
    font-size: 14px;
  }
  .block-slide .content-text .box-content .btn {
    margin: 0 0 5px 0;
    line-height: 20px;
    padding: 0 12px;
    font-size: 10px;
  }
  .block-slide .content-text.content-style3 h1 {
    margin-bottom: 7px;
  }
  .block-slide .owl-pagination {
    bottom: 2px;
  }
  .block-slide .owl-pagination .owl-page .owl-numbers {
    width: 17px;
    line-height: 17px;
    font-size: 11px;
  }
  .block-slide .content-text {
    top: 10px;
    bottom: 10px;
  }
  .block-banner.style1 .col-xs-6 {
    width: 100%;
    display: block;
  }
  .block-banner.style1 .box-banner {
    margin-right: auto;
    margin-left: auto;
    max-width: 320px;
  }
  .block-banner.style1 .box-banner {
    padding-top: 0;
  }
  .carousel-style2 .content-text .box-content > div > div {
    padding-top: 10px;
  }
  .carousel-style2 .content-text .action {
    margin-top: 15px;
  }
  .carousel-style2 .owl-pagination {
    bottom: 15px;
  }
  .fix-page .home-page4 .block-slide .item:before {
    top: 45px;
  }
  .fix-page .home-page5 .block-slide .item:before {
    top: 65px;
  }
  .block-posts.style1 .post-items .post-item-name {
    font-size: 14px;
  }
  .block-posts.style1 .post-items .post-item-details {
    padding-left: 0;
    padding-top: 0;
  }
  .carousel-products .product-items .product-item-info {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .block-4columns-text {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .block-4columns-text .col-xs-6 {
    width: 100%;
  }
  .block-products-tab .nav {
    float: none;
  }
  .block-products-tab .nav li {
    display: block;
    float: none;
    padding: 6px 12px;
    border-bottom: 1px dotted #ccc;
    padding-left: 0;
  }
  .block-products-tab .nav li.active {
    padding-left: 0;
  }
  .block-products-tab .nav li:before {
    content: none;
  }
  .block-products-tab .nav li a {
    display: inline-block;
  }
  .block-products-tab .products-grid .product-item {
    width: 50%;
  }
  .block-products-tab .products-grid .product-item:nth-child(4n+1) {
    clear: none;
  }
  .block-products-tab .products-grid .product-item:nth-child(3n+1) {
    clear: none;
  }
  .block-products-tab .products-grid .product-item:nth-child(2n+1) {
    clear: both;
  }
  .block-banner3 .des span,
  .block-banner4 .des span {
    font-size: 16px;
  }
  .block-banner2 .des .title {
    font-size: 24px;
  }
  .home-page11 .block-products-tab {
    text-align: left;
  }
  .home-page11 .block-products-tab .nav {
    text-align: left;
  }
  .home-page11 .block-products-tab .nav li {
    display: block;
    float: none;
  }
  .home-page11 .block-slide.style2 .owl-controls {
    left: 0px;
  }
  .block-banner5 .block-newsletter .block-title p {
    display: none;
  }
  .block-banner5 .block-newsletter .form.subscribe .actions {
    width: 73px;
  }
  .block-banner5 .block-newsletter .form.subscribe .btn.subscribe {
    padding-left: 6px;
    padding-right: 6px;
  }
  .block-banner5 .des {
    left: 5px;
    right: 5px;
  }
  .item-slide3 p,
  .item-slide5 p {
    display: none;
  }
  .tab-style1.block-products-tab .nav {
    float: none;
  }
  .tab-carousel-product .block-title .nav {
    margin-bottom: 10px;
  }
  .block-products-tab .nav-category:before,
  .block-products-tab .nav-category:after {
    content: none;
  }
  .block-products-tab .nav-category li {
    border: none;
    display: inline-block;
  }
}
@media (max-width: 400px) {
  .block-products-tab .products-grid .product-item {
    width: 100%;
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
    float: none;
    display: block;
  }
  .block-products-tab .products-grid .product-item:nth-child(4n+1) {
    clear: none;
  }
  .block-products-tab .products-grid .product-item:nth-child(3n+1) {
    clear: none;
  }
  .block-products-tab .products-grid .product-item:nth-child(2n+1) {
    clear: both;
  }
}
/*category*/
@media (max-width: 1199px) {
  .page-products.page-layout-1column .toolbar-products .toolbar-option,
  .page-products.page-layout-1column .toolbar-products .modes {
    margin-right: 5px;
  }
  .page-products.page-layout-1column .toolbar-products .toolbar-limiter {
    margin-right: 0;
  }
}
@media (max-width: 991px) {
  .page-products .grid .product-items .product-item {
    width: 33.33333333%;
  }
  .page-products .grid .product-items .product-item:nth-child(4n+1) {
    clear: none;
  }
  .page-products .grid .product-items .product-item:nth-child(3n+1) {
    clear: both;
  }
  .page-products.page-layout-1column .toolbar-products .toolbar-option,
  .page-products.page-layout-1column .toolbar-products .modes {
    margin-right: 5px;
  }
  .page-products.page-layout-1column .toolbar-products .toolbar-limiter {
    margin-right: 0;
  }
  .page-products.page-layout-1column .toolbar-products .toolbar-color {
    float: right;
    margin-right: 0;
    clear: both;
  }
}
@media (max-width: 767px) {
  .products-list .product-items .product-item-head {
    width: 30%;
    margin-right: 0;
  }
  .products-list .product-items .product-item-details {
    width: 70%;
    padding-left: 30px;
  }
}
@media (max-width: 639px) {
  .toolbar-products .modes {
    display: none;
  }
  .toolbar-products .toolbar-sorter,
  .toolbar-products .toolbar-limiter {
    width: auto;
    float: right;
  }
  .toolbar-products .toolbar-sorter {
    text-align: left;
    float: left;
  }
  .custom-title-wrapper .page-title-wrapper {
    height: 100px;
  }
  .custom-title-wrapper .page-title-wrapper .page-title {
    font-size: 24px;
  }
}
@media (max-width: 600px) {
  .page-products.page-layout-2columns-left .grid .product-items .product-item,
  .page-products .grid .product-items .product-item {
    width: 50%;
  }
  .page-products.page-layout-2columns-left .grid .product-items .product-item:nth-child(3n+1),
  .page-products .grid .product-items .product-item:nth-child(3n+1) {
    clear: none;
  }
  .page-products.page-layout-2columns-left .grid .product-items .product-item:nth-child(2n+1),
  .page-products .grid .product-items .product-item:nth-child(2n+1) {
    clear: both;
  }
  .products-list .product-items .product-item {
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
  }
  .products-list .product-items .product-item-head,
  .products-list .product-items .product-item-details {
    width: 100%;
    margin-right: 0;
    padding-left: 0px;
  }
  .page-layout-2columns-left .products-list .product-items .product-item-head,
  .page-layout-2columns-left .products-list .product-items .product-item-details {
    width: 100%;
    margin-right: 0;
    padding-left: 0px;
  }
}
@media (max-width: 479px) {
  .page-products.page-layout-1column .toolbar-products .toolbar-option {
    margin-right: 0;
    float: none;
    width: 100%;
    text-align: left;
  }
  .page-products.page-layout-1column .toolbar-products .toolbar-option .label {
    min-width: 70px;
    text-align: left;
  }
}
@media (max-width: 360px) {
  .toolbar-products .toolbar-option {
    float: none;
    text-align: left;
  }
  .toolbar-products .toolbar-option .label {
    min-width: 70px;
    text-align: left;
  }
  .page-products.page-layout-2columns-left .grid .product-items .product-item,
  .page-products .grid .product-items .product-item {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .block-3columns-text.style2 .item .title {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .product-media.vertical .images-small {
    width: 50px;
  }
  .product-media.vertical .images-large {
    width: calc(100% -  70px);
    width: -moz-calc(100% -  70px);
    width: -webkit-calc(100% -  70px);
    width: -o-calc(100% -  70px);
  }
  .block-3columns-text.style2 .item {
    padding-left: 0px;
    text-align: center;
  }
  .block-3columns-text.style2 .item .icon {
    position: static;
  }
  .block-3columns-text .item .title {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .product-media,
  .product-info-main {
    width: 100%;
  }
  .product-media {
    margin-bottom: 30px;
  }
  .product-info-main {
    padding-left: 0;
  }
  .page-layout-2columns-right .product-media,
  .page-layout-2columns-left .product-media,
  .page-layout-2columns-right .product-info-main,
  .page-layout-2columns-left .product-info-main {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .product-media.vertical .images-small {
    width: 15%;
  }
  .product-media.vertical .images-large {
    width: 80%;
  }
}
@media (max-width: 479px) {
  .product-info-main .product-add-form .form-qty .input-group-addon {
    width: 30px;
  }
  .product-info-main .actions .actions-primary {
    margin-right: 2px;
  }
  .product-info-main .actions .action {
    margin: 0 2px;
  }
  .product-info-detailed .nav li {
    float: none;
    width: 100%;
    display: block;
    margin: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: -1px;
  }
}
@media (max-width: 767px) {
  .block-portfolio .portfolio-list .item {
    width: 50%;
    float: left;
  }
  .block-portfolio .portfolio-list .item:nth-child(3n+1) {
    clear: none;
  }
  .block-portfolio .portfolio-list .item:nth-child(2n+1) {
    clear: both;
  }
}
@media (max-width: 639px) {
  .list-post .post-item .post-item-info {
    padding-left: 0;
  }
  .list-post .post-item .post-item-date {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    width: 140px;
    text-align: center;
  }
  .list-post .actions {
    margin-left: 0;
  }
  .list-post .actions .social {
    clear: both;
  }
  .block-comment-blog {
    margin-left: 0;
  }
}
@media (max-width: 479px) {
  .block-comment-blog .list-commnet > .content > .item > .content {
    margin-left: 0;
  }
}
@media (max-width: 360px) {
  .block-portfolio .portfolio-list .item {
    width: 100%;
  }
  .block-comment-blog .list-commnet .item .avata {
    float: none;
  }
  .block-comment-blog .list-commnet .item .detail {
    margin-left: 0;
  }
}
/*contact us*/
@media (max-width: 1199px) {
  .block-contact .contact-text {
    top: 20px;
  }
}
@media (max-width: 991px) {
  .block-contact .contact-text {
    position: static;
  }
}
@media (max-width: 767px) {
  .block-team .item {
    width: 50%;
    float: left;
  }
  .block-team .item:nth-child(4n+1) {
    clear: none;
  }
  .block-team .item:nth-child(2n+1) {
    clear: both;
  }
}
@media (max-width: 360px) {
  .block-team .item {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .block-login .actions .btn {
    width: 220px;
  }
}
@media (max-width: 500px) {
  .block-login .actions .btn {
    width: 100%;
    max-width: 200px;
  }
}
@media (max-width: 477px) {
  .block-login .actions .btn {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 1400px) {
  .block-no-route {
    padding-top: 100px;
    font-size: 18px;
  }
  .block-no-route .title-page {
    font-size: 100px;
    line-height: 90px;
    margin-bottom: 20px;
  }
  .block-no-route .text-medium {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .block-no-route .block-search-no-route {
    margin-top: 30px;
  }
  .page-no-route .logo:before,
  .page-construction .logo:before {
    bottom: -20px;
  }
  .block-construction {
    padding-top: 200px;
  }
}
@media (max-width: 640px) {
  .page-no-route .logo,
  .page-construction .logo {
    max-width: 100%;
    width: 100% !important;
  }
  .page-no-route .copyright,
  .page-construction .copyright {
    bottom: 0px;
  }
  .block-no-route {
    padding-top: 100px;
    font-size: 18px;
    padding-bottom: 55px;
  }
  .block-no-route .title-page {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .block-no-route .text-medium {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .block-no-route .block-search-no-route {
    margin-top: 30px;
  }
  .block-construction {
    padding-top: 150px;
  }
  .block-construction .countdown {
    margin-top: 60px;
  }
  .block-construction .countdown .box {
    width: 50px;
    height: 50px;
    padding-top: 5px;
    margin: 0 7px;
  }
  .block-construction .countdown .box .text {
    font-size: 11px;
    line-height: 15px;
    position: relative;
    margin-top: 0px;
  }
  .block-construction .countdown .box .text:before {
    content: "";
    background-color: #fff;
    width: 8px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -4px;
  }
}
@media (max-width: 480px) {
  .block-no-route {
    padding-top: 90px;
    font-size: 13px;
    padding-bottom: 55px;
  }
  .block-no-route .title-page {
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 12px;
  }
  .block-no-route .text-medium {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .block-no-route .block-search-no-route {
    margin-top: 30px;
  }
  .block-construction {
    padding-top: 90px;
  }
  .block-construction .title-page {
    font-size: 18px;
  }
  .block-construction .text-medium {
    font-size: 14px;
  }
  .block-construction .countdown {
    margin-top: 20px;
  }
}
@media (min-width: 1400px) {
  .block-no-route {
    padding-top: 280px;
  }
  .block-no-route .title-page {
    margin-bottom: 30px;
  }
  .block-no-route .text-medium {
    margin-bottom: 20px;
  }
  .block-no-route .block-search-no-route {
    margin-top: 50px;
  }
}
@media (max-width: 1199px) {
  .block-form-cart table tbody tr .col:not(.item) {
    width: 150px;
  }
  .block-options-cart .tab-content {
    width: 360px;
  }
  .block-options-cart .form-group .form-control {
    width: 100%;
    display: block;
  }
  .block-options-cart .actions {
    padding-left: 0;
  }
  .block-cart-totals {
    width: 300px;
  }
  .block-cart-totals .data-totals .label {
    width: 120px;
  }
  .block-cart-totals .actions {
    padding: 0 15px;
    text-align: center;
  }
  .block-cart-totals .actions .btn {
    float: none;
    width: 100%;
  }
}
@media (max-width: 991px) {
  .block-form-cart table tbody tr .col:not(.item) {
    width: 120px;
  }
  .block-options-cart {
    width: 100%;
  }
  .block-options-cart .tab-content {
    width: 100%;
  }
  .block-cart-totals {
    width: 100%;
  }
  .block-cart-totals .data-totals .label {
    width: 120px;
  }
  .block-cart-totals .actions {
    padding: 0 15px;
    text-align: center;
  }
  .block-cart-totals .actions .btn {
    float: none;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .block-form-cart table tbody tr .col.item {
    text-align: center;
  }
  .block-form-cart table tbody tr .item-product {
    padding-left: 0;
    text-align: center;
  }
  .block-form-cart table tbody tr .item-photo {
    float: none;
    margin-right: 0;
    margin: auto;
  }
  .block-form-cart table tbody tr .detail {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .block-options-cart .block-title,
  .block-options-cart .block-content {
    display: block;
    min-height: auto;
  }
  .block-options-cart .tab-content {
    min-height: auto;
  }
  .block-options-cart .nav {
    width: 100%;
    min-height: auto;
    padding-bottom: 0;
  }
  .block-cart-totals {
    width: 100%;
  }
  .block-cart-totals .data-totals .label {
    width: 120px;
  }
  .block-cart-totals .actions {
    padding: 0 15px;
    text-align: center;
  }
  .block-cart-totals .actions .btn {
    float: none;
    width: 100%;
  }
}
@media (max-width: 479px) {
  .block-form-cart table thead {
    display: none;
  }
  .block-form-cart table tbody tr {
    border-bottom: 1px solid #ddd;
  }
  .block-form-cart table tbody tr .col:not(.item) {
    width: 33.3%;
    float: left;
  }
  .block-form-cart table tbody tr .col {
    display: block;
    border: none;
  }
  .block-form-cart table tbody tr .col:before {
    content: attr(data-th);
    display: block;
    margin-bottom: 7px;
    font-weight: normal;
    font-family: "Oswald";
    font-size: 16px;
  }
  .block-form-cart table tbody tr .col.item {
    text-align: center;
  }
  .block-form-cart table tbody tr .item-product {
    padding-left: 0;
    text-align: center;
  }
  .block-form-cart table tbody tr .item-photo {
    float: none;
    margin-right: 0;
    margin: auto;
  }
  .block-form-cart table tbody tr .detail {
    text-align: center;
  }
  .block-brands {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 992px) and (max-width: 1299px) {
  .navigation .ui-menu .megamenu > .submenu {
    width: auto;
    left: 80px;
  }
}
.home-page10 .header-nav .navigation {
  position: static;
}
.home-page10 .header-nav {
  position: relative;
}
.home-page10 .header-nav .navigation .ui-menu .megamenu > .submenu {
  width: auto;
  left: 50px;
  right: 50px;
}
