/*-- Start style header-pc*/
.banner-inner .header-pc {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 30px;
    min-height: 100px;
}

.banner-inner .header-pc_left {
}

    .banner-inner .header-pc_left a {
        display: block;
        height: 100%;
        padding: 15px 0px;
    }

.banner-inner .header-pc_right {
}

.banner-inner .header-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 10px;
}

    .banner-inner .header-top .header-top_left {
        background: url(../images/viman.png) no-repeat scroll left top transparent;
    }

    .banner-inner .header-top .shipping-txt {
        text-transform: uppercase;
        padding-left: 80px;
    }

        .banner-inner .header-top .shipping-txt h3 {
            color: var(--theme-color);
            font-size: 18px;
            line-height: 16px;
        }

        .banner-inner .header-top .shipping-txt p {
            font-size: 14px;
        }

.banner-inner .header-top_right {
    text-align: right;
}

.hightline {
    color: var(--theme-color);
}

.banner-inner .header-bottom .controll {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 20px;
}

    .banner-inner .header-bottom .controll select {
        font-size: 16px;
        padding: 8px 10px;
    }

.controll input[type="text"] {
    width: 85%;
    font-size: 16px;
    padding: 8px 10px;
}

.controll button[type="submit"] {
    width: 14%;
    background: var(--theme-dark);
    color: #fff;
    padding: 6px;
    font-size: 20px;
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
}
/*-- End style header-pc*/
