/*Start style product-page*/
.product-inner input{
    display: none;
}

.product-inner .product-top {
    display: grid;
    grid-template-columns: 7fr 5fr;
    grid-column-gap: 20px;
}

.product-inner .product-top .prod-avatar {
    width: 72%;
    height: 600px;
    float: left;
    position: relative;
}

.product-inner .product-top .prod-avatar img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .3s ease;
}

.product-inner .product-top .prod-left input[type="radio"]:nth-of-type(1):checked ~ .prod-avatar img:nth-of-type(1) {
    opacity: 1;
}

.product-inner .product-top .prod-left input[type="radio"]:nth-of-type(2):checked ~ .prod-avatar img:nth-of-type(2) {
    opacity: 1;
}

.product-inner .product-top .prod-left input[type="radio"]:nth-of-type(3):checked ~ .prod-avatar img:nth-of-type(3) {
    opacity: 1;
}

.product-inner .product-top .prod-left input[type="radio"]:nth-of-type(4):checked ~ .prod-avatar img:nth-of-type(4) {
    opacity: 1;
}

.product-inner .product-top img {
    width: 100%;
    height: 100%;
}

.product-inner .product-top .prod-slide {
    /*background: #000;*/
    float: left;
    padding: 0 15px;
    width: 26.5%;
}

.product-inner .product-top .prod-slide ul {
    list-style: none;
}

.product-inner .product-top .prod-slide ul li {
    display: block;
    padding: 5px;
    width: 150px;
    height: 145px;
    border: 1px solid #808080;
    margin-bottom: 7px;
    transition: .3s ease;
}

.product-inner .product-top .prod-left input[type="radio"]:nth-of-type(1):checked ~ .prod-slide ul li:nth-of-type(1) {
    border: 1px solid var(--theme-dark);
}

.product-inner .product-top .prod-left input[type="radio"]:nth-of-type(2):checked ~ .prod-slide ul li:nth-of-type(2) {
    border: 1px solid var(--theme-dark);
}

.product-inner .product-top .prod-left input[type="radio"]:nth-of-type(3):checked ~ .prod-slide ul li:nth-of-type(3) {
    border: 1px solid var(--theme-dark);
}

.product-inner .product-top .prod-left input[type="radio"]:nth-of-type(4):checked ~ .prod-slide ul li:nth-of-type(4) {
    border: 1px solid var(--theme-dark);
}

.product-inner .product-top .prod-slide ul li:last-child {
    margin-bottom: 0;
}

.product-inner .product-top label {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
}

.product-inner .product-top .prod-right {
    color: #333;
}

.product-inner .title {
    display: block;
    font-size: 24px;
    white-space: normal;
    color: #333;
    padding: 0;
    margin-bottom: 10px;
}

.product-inner .product-top .prod-right > div {
    margin-top: 15px;
}

.product-inner .product-top .prod-right label {
    display: inline-block;
    width: 26px;
    height: 26px;
    padding: 2px;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: .3s ease;
}

.product-inner .product-top .prod-right input:nth-of-type(1):checked ~ label:nth-of-type(1) {
    border: 1px solid var(--theme-dark);
}

.product-inner .product-top .prod-right input:nth-of-type(2):checked ~ label:nth-of-type(2) {
    border: 1px solid var(--theme-dark);
}

.product-inner .product-top .prod-right input:nth-of-type(3):checked ~ label:nth-of-type(3) {
    border: 1px solid var(--theme-dark);
}

.product-inner .product-top .prod-right label span {
    display: block;
    width: 20px;
    height: 20px;
    background: #000;
    border-radius: 50%;
    border: 1px solid #808080;
}

.selection {
    position: relative;
}

    .selection .select {
        color: #000;
        background: transparent;
        border: 1px solid #333;
        cursor: pointer;
        padding: 10px 15px;
        position: relative;
    }

        .selection .select .fa {
            position: absolute;
            top: 10%;
            right: 15px;
            font-size: 24px;
            transition: .3s ease;
        }

    .selection .option {
        display: none;
        margin-top: 0 !important;
        width: 100%;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

        .selection .option.open {
            display: block;
        }

        .selection .option .opt-item {
            cursor: pointer;
            margin-top: 0 !important;
            padding: 5px 15px;
            position: relative;
        }

            .selection .option .opt-item:last-child {
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            .selection .option .opt-item:nth-of-type(2):after {
                content: '';
                width: calc(100% - 30px);
                height: 1px;
                background: #808080;
                position: absolute;
                bottom: 1px;
                left: 15px;
                right: 15px;
            }

            .selection .option .opt-item:nth-of-type(2):before {
                content: '';
                width: calc(100% - 30px);
                height: 1px;
                background: #808080;
                position: absolute;
                top: 1px;
                left: 15px;
                right: 15px;
            }

            .selection .option .opt-item:last-child::after {
                height: 0px;
            }

            .selection .option .opt-item:hover {
                background: #808080;
            }

    .selection span {
        color: inherit !important;
        font-size: inherit !important;
    }

.amount {
    /*width: 120px;*/
}

    .amount > div {
        box-sizing: border-box;
    }

.input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group-prepend, .input-group-append {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0 !important;
}

.input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 15px;
    margin-bottom: 0;
    font-size: 14px !important;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #333;
    border-radius: 10px;
    cursor: pointer;
}

.input-group span {
    background: transparent;
    color: #808080;
}

.input-group-prepend {
    margin-right: -1px;
}

.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text,
.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-control {
    display: block !important;
    width: 100%;
    padding: 8px 10px;
    font-size: 20px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #333;
    border-radius: 10px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group input[type="text"] {
    background: transparent;
    color: #808080;
    text-align: center;
}

.input-group > .form-control,
.input-group > .custom-select,
.input-group > .custom-file {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

    .input-group > .form-control:not(:last-child),
    .input-group > .custom-select:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .input-group > .form-control:not(:first-child),
    .input-group > .custom-select:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

.input-group-append {
    margin-left: -1px;
}

.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.button {
    padding: 15px 0;
}

.button .btn {
    background: transparent;
    padding: 10px 25px;
    border-radius: 25px;
    border: 1px solid #808080;
    font-size: 22px;
    color: var(--theme-dark);
    transition: .3s ease;
}

.button .btn:hover {
    color: #fff;
    border-color: var(--theme-dark);
    background: var(--theme-dark);
}

.product-inner .product-top .prod-right ul {
    margin-top: 15px;
}

.product-inner .product-top .prod-right ul li {
    padding: 5px 0;
}

.product-inner .product-bottom {
    margin-top: 20px;
    padding: 15px 0;
}

.product-inner ul.nav {
    list-style: none;
}

.product-inner ul.nav li {
    display: inline-block;
    margin-right: 15px;
}

.product-inner ul.nav li label {
    padding-bottom: 5px;
    border-bottom: 3px solid #333;
    cursor: pointer;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
}

.product-inner ul.nav li label:hover {
    border-bottom: 3px solid var(--theme-dark);
    color: var(--theme-dark);
}

.product-inner .desc-prod,
.product-inner .cmt-prod,
.product-inner .rela-prod {
    margin-top: 30px;
    padding: 20px 15px;
    border: 1px solid #808080;
    position: relative;
}

.product-inner .desc-prod:before {
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    background: #C5C5BA;
    border: 1px solid #808080;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    top: -11px;
    left: 52px;
    transform: rotateZ(45deg);
}

.product-inner .desc-prod p {
    line-height: 24px;
}

.product-inner .desc-prod ul {
    list-style: circle;
    padding: 5px 45px;
    color: var(--theme-para);
}

.product-inner .desc-prod h3 {
    margin-top: 20px;
}

.hidden {
    display: none;
}

.product-inner .product-bottom input[type="radio"]:nth-of-type(1):checked ~ .desc-prod {
    display: block;
}

.product-inner .product-bottom input[type="radio"]:nth-of-type(2):checked ~ .cmt-prod {
    display: block;
}

.product-inner .product-bottom input[type="radio"]:nth-of-type(3):checked ~ .rela-prod {
    display: block;
}

.product-inner .product-bottom input[type="radio"]:nth-of-type(1):checked ~ div ul.nav li:nth-of-type(1) label {
    border-bottom: 3px solid var(--theme-dark);
    color: var(--theme-dark);
}

.product-inner .product-bottom input[type="radio"]:nth-of-type(2):checked ~ div ul.nav li:nth-of-type(2) label {
    border-bottom: 3px solid var(--theme-dark);
    color: var(--theme-dark);
}

.product-inner .product-bottom input[type="radio"]:nth-of-type(3):checked ~ div ul.nav li:nth-of-type(3) label {
    border-bottom: 3px solid var(--theme-dark);
    color: var(--theme-dark);
}

.product-inner .cmt-prod:before {
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    background: #C5C5BA;
    border: 1px solid #808080;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    top: -11px;
    left: 183px;
    transform: rotateZ(45deg);
}

.product-inner .rela-prod:before {
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    background: #C5C5BA;
    border: 1px solid #808080;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    top: -11px;
    left: 333px;
    transform: rotateZ(45deg);
}

.lst-cmt .cmt-box {
    padding: 15px 0;
}

.lst-cmt .cmt-box .cmt-author {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.lst-cmt .cmt-box .cmt-author .cmt-img {
    flex-basis: 50px;
    margin-right: 15px;
}

.lst-cmt .cmt-box .cmt-author .cmt-img img {
    width: 50px;
    max-width: 50px;
    height: 50px;
    border-radius: 50%;
}

.lst-cmt .cmt-box .cmt-author .cmt-content {
    width: calc(100% - 65px);
}

.lst-cmt .cmt-box .cmt-author .cmt-content .cmt-main {
    background: #b3afaf;
    padding: 5px 15px;
    border-radius: 25px;
    margin-bottom: 5px;
}

.lst-cmt .cmt-box .cmt-author .cmt-content a {
    color: #333;
    font-size: 18px;
}

.lst-cmt .cmt-box .cmt-author .cmt-content span {
    color: #808080;
    font-size: 15px;
    margin-left: 5px;
}

.lst-cmt .cmt-box .cmt-author .cmt-info a {
    font-size: 13px;
}

.lst-cmt .cmt-box .cmt-author .cmt-info span {
    font-size: 13px;
}

.rela-prod .product-res .lst-res {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px 0;
}

.show-more {
    color: var(--theme-dark);
    display: inline-block;
    border: 1px solid #808080;
    border-radius: 25px;
    padding: 0 15px 5px;
    margin: 0 auto;
    transition: .3s ease;
}

.show-more:hover {
    color: #fff;
    background: var(--theme-dark);
    border-color: var(--theme-dark);
}

.show-more .fa {
    font-size: 24px;
    margin-left: 15px;
}


/*-- Start style rep-cmt*/
.rep-cmt {
    margin-top: 15px;
    display: block;
    background: transparent;
    border: 1px solid #808080;
    width: 100%;
    min-height: 100px;
    position: relative;
    padding: 10px;
    display: none;
}

.rep-cmt.active{
    display: block!important;
}

.rep-cmt:after {
    content: '';
    display: block;
    height: 12px;
    width: 12px;
    background: #C5C5BA;
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    transform: rotateZ(45deg);
    position: absolute;
    top: -6.7px;
    left: 3px;
}

.rep-cmt textarea{
    width: 100%;
    padding: 10px 15px;
}

.rep-cmt .box-emotion {
    padding: 5px 0;
    display: grid;
    grid-template-columns: .8fr 2fr 5fr;
    align-items: center;
    background: #fff;
    border-right: 1px solid #808080;
    border-left: 1px solid #808080;
    border-bottom: 1px solid #808080;
    margin-top: -5px;
}

.rep-cmt .box-emotion a {
    display: inline-block;
    padding: 0 10px;
    font-size: 16px!important;
}

.rep-cmt .box-emotion a:nth-of-type(1){
    border-right: 1px solid #808080;
}

.rep-cmt .box-emotion button {
    float: right;
    margin-right: 10px;
    font-size: 18px;
    border: 1px solid var(--theme-dark);
    padding: 5px 25px;
    border-radius: 25px;
    color: var(--theme-dark);
}

.rep-cmt .box-emotion input{
    display: none;
}

/*-- End style rep-cmt*/
/*End style product-page*/
