/*-- Start style serveice-inner*/
.service-inner {
    background: #808080;
}

.service-inner .services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    color: #ffff;
}

.service-inner .service-box {
    border-right: 1px solid #b0b0b0;
}

.service-inner .service-box:last-child {
    border: none;
 }

.service-inner .services h3 {
    margin-bottom: 10px;
    font-weight: 100;
    text-transform: uppercase;
}

.service-inner .services h3 i {
    margin-right: 10px;
}

.fa-truck:before {
    content: "\f0d1";
}

.fa-phone:before {
    content: "\f095";
}

.fa-gear:before, .fa-cog:before {
    content: "\f013";
}
/*-- End style service-inner*/

/*Start style footer*/
.footer-inner {
    background: var( --theme-dark-lite);
}

.footer-inner .footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    padding-bottom: 30px;
}

.footer-inner .footer-menu h3 {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 15px;
    font-weight: 400;
}

.footer-inner .footer-menu p {
    color: #808080;
    font-size: 16px;
    margin-bottom: 15px;
}

.footer-inner .footer-menu ul {
    list-style: none;
    color: #808080;
    font-size: 16px;
}

.footer-inner .footer-menu ul li {
    padding: 5px 0;
}

.footer-inner .footer-menu ul li:hover {
    color: #fff;
}

.footer-inner .footer-bottom {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 20px;
    padding-bottom: 30px;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    padding: 20px 0;
    color: #fff;
    align-items: center;
}

.footer-inner .footer-bottom p {
    color: #fff;
    font-size: 14px;
}

.footer-inner .footer-bottom p .fa {
    color: var(--theme-dark);
    margin-right: 10px;
    font-size: 20px;
}

.fa-map-marker:before {
    content: "\f041";
}

.fa-facebook:before {
    content: "\f09a";
}

.fa-twitter:before {
    content: "\f099";
}

.fa-google-plus:before {
    content: "\f0d5";
}

.footer-inner .footer-bottom ul {
    list-style: none;
    text-align: right;
}

.footer-inner .footer-bottom ul li {
    display: inline-block;
    background: #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    margin-left: 15px;
    font-size: 20px;
    line-height: 40px;
}

.footer-inner .footer-bottom ul li.facebook {
    background: #3b5999;
}

.footer-inner .footer-bottom ul li.twitter {
    background: #55acee;
}

.footer-inner .footer-bottom ul li.google-plus {
    background: #dd4b39;
}

.footer-inner .footer-source {
    padding: 30px 0 0px;
    text-align: center;
}

    .footer-inner .footer-source p {
        color: #808080;
    }

        .footer-inner .footer-source p a {
            color: #fff;
        }
/*End style footer*/
