
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main" class="site-main">
    <div class="custom-title-wrapper " style="background: url(images/background.jpg);">
        <div class="container">
            <div class="page-title-wrapper">
                <h1 class="page-title">
                    About us
                </h1>
            </div>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">About us</li>
            </ol>
        </div>
    </div>

    <div class="columns container">

        <div class="block-about-us">
            <div class="block-title">
                about us
            </div>
            <div class="block-content row">
                <div class="col-md-6 img col-md-push-6">
                    <img alt="" src="images/media/about.jpg">
                </div>

                <div class="col-md-6 text  col-md-pull-6">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic </p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic </p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic </p>
                </div>
            </div>
        </div>

        <div class="block-team">
            <div class="block-title">
                meet our team
            </div>
            <div class="block-content row">
                <div class="col-sm-4 item ">
                    <div class="img">
                        <img alt="" src="images/media/team2.jpg">
                    </div>
                    <span class="name">Jackson Lee</span>
                    <span class="cv">Model</span>
                    <div class="social">
                        <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
                        <a href="#"><i aria-hidden="true" class="fa fa-tumblr"></i></a>
                        <a href="#"><i aria-hidden="true" class="fa fa-linkedin"></i></a>
                        <a href="#"><i aria-hidden="true" class="fa fa-rss"></i></a>
                        <a href="#"><i aria-hidden="true" class="fa fa-dribbble"></i></a>
                    </div>
                </div>

                <div class="col-sm-4 item ">
                    <div class="img">
                        <img alt="" src="images/media/team3.jpg">
                    </div>
                    <span class="name">Jackson Lee</span>
                    <span class="cv">Photographer</span>
                    <div class="social">
                        <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
                        <a href="#"><i aria-hidden="true" class="fa fa-tumblr"></i></a>
                        <a href="#"><i aria-hidden="true" class="fa fa-linkedin"></i></a>
                        <a href="#"><i aria-hidden="true" class="fa fa-rss"></i></a>
                        <a href="#"><i aria-hidden="true" class="fa fa-dribbble"></i></a>
                    </div>
                </div>

                <div class="col-sm-4 item ">
                    <div class="img">
                        <img alt="" src="images/media/team4.jpg">
                    </div>
                    <span class="name">Jackson Lee</span>
                    <span class="cv">Developer</span>
                    <div class="social">
                        <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
                        <a href="#"><i aria-hidden="true" class="fa fa-tumblr"></i></a>
                        <a href="#"><i aria-hidden="true" class="fa fa-linkedin"></i></a>
                        <a href="#"><i aria-hidden="true" class="fa fa-rss"></i></a>
                        <a href="#"><i aria-hidden="true" class="fa fa-dribbble"></i></a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div><!-- site-main -->
