
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>404</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald:400,700,300|Lato:400,300,300italic,400italic,700,700italic|Playfair+Display:400,400italic,700,700italic|Droid+Serif:400,700,400italic,700italic|Roboto:400,700">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/pe-icon-7-stroke.css">
    <link rel="stylesheet" type="text/css" href="css/helper.css">
    <link rel="stylesheet" type="text/css" href="css/animations.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css">
    <!-- Style CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
</head>
<body class="page-no-route page-layout-1column ">

    <div id="header" class="site-header style1 style-black">
        <div class="container-fluid">
            <div class="header-content">

                <div class="logo">
                    <a href="home.html"><img alt="" src="images/logo-home2.png"></a>
                </div><!-- logo  -->
            </div>
        </div>
    </div><!-- site-header -->

    <div id="main" class="site-main">

        <div class="columns container">
            <div class="block-no-route">
                <div class="content">

                    <h2 class="title-page">404</h2>
                    <p class="text-medium">This’s Not The Web Page You’re Looking For</p>
                    <p>Please try one of the following pages <a href="#" class="btn btn-default ">homepage</a></p>
                    <div class="block-search-no-route">
                        <form class="">
                            <div class="control">
                                <input type="text" class="input-search" placeholder="Search...">
                            </div>
                            <div class="actions">
                                <button class="btn btn-search" title="search" type="submit">
                                    search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div><!-- site-main -->

    <div id="footer" class="site-footer style2 style-black">


        <div class="footer-bottom">
            <div class="container">

                <div class="copyright">
                    Copyright 2015 <a href="#">ADELLA</a>. All rights reserved.
                </div><!-- Copyright -->

            </div>
        </div><!-- Footer Bottom -->


    </div><!-- site-footer -->
    <!-- jQuery -->
    <script type="text/javascript" src="js/jquery.min.js"></script>

    <!-- animate -->
    <script type="text/javascript" src="js/css3-animate-it.js"></script>

    <!-- countUp -->

    <script type="text/javascript" src="js/countUp/countUp.js"></script>

    <!-- Boostrap -->
    <script type="text/javascript" src="js/bootstrap.js"></script>

    <!-- sticky -->
    <script type="text/javascript" src="js/jquery.sticky.js"></script>

    <!-- OWL CAROUSEL Slider -->
    <script type="text/javascript" src="js/owl.carousel.js"></script>

    <!-- jQuery UI -->
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>

    <!-- Main -->
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>
