
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main" class="site-main">
    <div class="custom-title-wrapper " style="background: url(images/background.jpg);">
        <div class="container">
            <div class="page-title-wrapper">
                <h1 class="page-title">
                    The Blogs
                </h1>
            </div>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Blogs</li>
            </ol>
        </div>
    </div>

    <div class="columns container">
        <div class="row">

            <div class="col-lg-9   col-md-8  col-main">



                <div class="list-post">
                    <ol class="post-items">
                        <li class="post-item">
                            <div class="post-item-info">
                                <a class="post-item-photo" href="#">
                                    <img class="post-image-photo" src="images/media/post-list1.jpg" alt="Lorem Ipsum Dolor Sit Amet  Consectetur">
                                </a>

                                <div class="post-item-details">
                                    <div class="post-item-more">
                                        <span class="athu">By Admin </span>
                                        <span class="category">Fashion </span>
                                        <span class="comment">03 comment  </span>
                                    </div>
                                    <span class="post-item-date"><span class="date">20</span>/March</span>
                                    <strong class="post-item-name">
                                        <a class="post-item-link" href="#">Lorem Ipsum Dolor Sit Amet  Consectetur</a>
                                    </strong>
                                    <div class="post-item-des">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                                    </div>
                                    <a href="#" class="action viewmore" title="view more">
                                        <span>read more</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="post-item">
                            <div class="post-item-info">
                                <a class="post-item-photo" href="#">
                                    <img class="post-image-photo" src="images/media/post-list2.jpg" alt="Lorem Ipsum Dolor Sit Amet  Consectetur">
                                </a>

                                <div class="post-item-details">
                                    <div class="post-item-more">
                                        <span class="athu">By Admin </span>
                                        <span class="category">Fashion </span>
                                        <span class="comment">03 comment  </span>
                                    </div>
                                    <span class="post-item-date"><span class="date">20</span>/March</span>
                                    <strong class="post-item-name">
                                        <a class="post-item-link" href="#">Lorem Ipsum Dolor Sit Amet  Consectetur</a>
                                    </strong>
                                    <div class="post-item-des">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                                    </div>
                                    <a href="#" class="action viewmore" title="view more">
                                        <span>read more</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="post-item">
                            <div class="post-item-info">
                                <a class="post-item-photo" href="#">
                                    <img class="post-image-photo" src="images/media/post-list3.jpg" alt="Lorem Ipsum Dolor Sit Amet  Consectetur">
                                </a>

                                <div class="post-item-details">
                                    <div class="post-item-more">
                                        <span class="athu">By Admin </span>
                                        <span class="category">Fashion </span>
                                        <span class="comment">03 comment  </span>
                                    </div>
                                    <span class="post-item-date"><span class="date">20</span>/March</span>
                                    <strong class="post-item-name">
                                        <a class="post-item-link" href="#">Lorem Ipsum Dolor Sit Amet  Consectetur</a>
                                    </strong>
                                    <div class="post-item-des">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                                    </div>
                                    <a href="#" class="action viewmore" title="view more">
                                        <span>read more</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="post-item">
                            <div class="post-item-info">
                                <a class="post-item-photo" href="#">
                                    <img class="post-image-photo" src="images/media/post-list4.jpg" alt="Lorem Ipsum Dolor Sit Amet  Consectetur">
                                </a>

                                <div class="post-item-details">
                                    <div class="post-item-more">
                                        <span class="athu">By Admin </span>
                                        <span class="category">Fashion </span>
                                        <span class="comment">03 comment  </span>
                                    </div>
                                    <span class="post-item-date"><span class="date">20</span>/March</span>
                                    <strong class="post-item-name">
                                        <a class="post-item-link" href="#">Lorem Ipsum Dolor Sit Amet  Consectetur</a>
                                    </strong>
                                    <div class="post-item-des">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                                    </div>
                                    <a href="#" class="action viewmore" title="view more">
                                        <span>read more</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="post-item">
                            <div class="post-item-info">
                                <a class="post-item-photo" href="#">
                                    <img class="post-image-photo" src="images/media/post-list5.jpg" alt="Lorem Ipsum Dolor Sit Amet  Consectetur">
                                </a>

                                <div class="post-item-details">
                                    <div class="post-item-more">
                                        <span class="athu">By Admin </span>
                                        <span class="category">Fashion </span>
                                        <span class="comment">03 comment  </span>
                                    </div>
                                    <span class="post-item-date"><span class="date">20</span>/March</span>
                                    <strong class="post-item-name">
                                        <a class="post-item-link" href="#">Lorem Ipsum Dolor Sit Amet  Consectetur</a>
                                    </strong>
                                    <div class="post-item-des">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                                    </div>
                                    <a href="#" class="action viewmore" title="view more">
                                        <span>read more</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="post-item">
                            <div class="post-item-info">
                                <a class="post-item-photo" href="#">
                                    <img class="post-image-photo" src="images/media/post-list6.jpg" alt="Lorem Ipsum Dolor Sit Amet  Consectetur">
                                </a>

                                <div class="post-item-details">
                                    <div class="post-item-more">
                                        <span class="athu">By Admin </span>
                                        <span class="category">Fashion </span>
                                        <span class="comment">03 comment  </span>
                                    </div>
                                    <span class="post-item-date"><span class="date">20</span>/March</span>
                                    <strong class="post-item-name">
                                        <a class="post-item-link" href="#">Lorem Ipsum Dolor Sit Amet  Consectetur</a>
                                    </strong>
                                    <div class="post-item-des">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                                    </div>
                                    <a href="#" class="action viewmore" title="view more">
                                        <span>read more</span>
                                    </a>
                                </div>
                            </div>
                        </li>

                    </ol><!-- list product -->
                </div> <!-- List Products -->

                <div class="toolbar-products toolbar-bottom">
                    <ul class="pagination">
                        <li>
                            <a href="#">
                                <span><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                            </a>
                        </li>

                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>



                        <li>
                            <a href="#">
                                <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                            </a>
                        </li>
                    </ul>
                </div><!-- Toolbar -->

            </div><!-- Main Content -->

            <div class="col-lg-3  col-md-4  col-sidebar">

                <div class="block-sidebar block-popular-post">

                    <div class="block-title">
                        <strong>popular posts</strong>
                    </div>
                    <div class="block-content">
                        <ul class="items">
                            <li class="item">
                                <div class="image">
                                    <a href="#"><img alt="" src="images/media/popular1.jpg"></a>
                                </div>
                                <div class="des">
                                    <div class="value">Online Shopping Fashion Hit New Highs on Mobile Sales</div>
                                    <span class="date">Jan, 08, 2016</span>
                                </div>
                            </li>
                            <li class="item">
                                <div class="image">
                                    <a href="#"><img alt="" src="images/media/popular2.jpg"></a>
                                </div>
                                <div class="des">
                                    <div class="value">Online Shopping Fashion Hit New Highs on Mobile Sales</div>
                                    <span class="date">Jan, 08, 2016</span>
                                </div>
                            </li>
                            <li class="item">
                                <div class="image">
                                    <a href="#"><img alt="" src="images/media/popular3.jpg"></a>
                                </div>
                                <div class="des">
                                    <div class="value">Online Shopping Fashion Hit New Highs on Mobile Sales</div>
                                    <span class="date">Jan, 08, 2016</span>
                                </div>
                            </li>


                        </ul>
                    </div>
                </div><!-- archives -->

                <div class="block-sidebar block-category">
                    <div class="block-title">
                        <strong>categories</strong>
                    </div>
                    <div class="block-content">
                        <ul class="items">
                            <li>
                                <a href="#">Entertainment     </a>
                            </li>
                            <li>
                                <a href="#">Lifestyle</a>
                            </li>
                            <li>
                                <a href="#">Painting</a>
                            </li>
                            <li>
                                <a href="#">Photography</a>
                            </li>
                            <li>
                                <a href="#">Technology</a>
                            </li>
                            <li>
                                <a href="#">World</a>
                            </li>

                        </ul>
                    </div>
                </div><!-- Category -->

                <div class="block-sidebar block-category">

                    <div class="block-title">
                        <strong>archives</strong>
                    </div>
                    <div class="block-content">
                        <ul class="items">
                            <li>
                                <a href="#">August 2015        </a>
                            </li>
                            <li>
                                <a href="#">July 2015</a>
                            </li>
                            <li>
                                <a href="#">June 2015</a>
                            </li>
                            <li>
                                <a href="#">May 2015</a>
                            </li>
                            <li>
                                <a href="#"> April 2015</a>
                            </li>
                            <li>
                                <a href="#">March 2015</a>
                            </li>


                        </ul>
                    </div>
                </div><!-- archives -->


            </div><!-- Sidebar -->

        </div>
    </div>
</div><!-- site-main -->
